* {
    box-sizing: border-box;
}

:root {
    --theme-primary: #000;
    --theme-secondary: #90EE90;
    --theme-background: #f2f7f0;
    --pill-color: #000;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--theme-background);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.nav-links {
    position: relative;
    display: flex;
    background-color: rgba(246, 240, 240, 0.675);
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    max-height: 200px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #ffffff7d;

}

.nav-link {
    padding: 4px 10px;
    text-decoration: none;
    color: white;
    transition: color 0.4s ease;
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.nav-active-pill,
.nav-hover-pill {
    position: absolute;
    top: 2px;
    height: calc(100% - 5px);
    background-color: var(--pill-color);
    border-radius: 25px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 1;

}

.nav-hover-pill {
    opacity: 0.5;
    background-color: #e0e0e0cc;
}

.nav-link.active {
    color: var(--theme-secondary);
}




.icon {
    cursor: pointer;
}

.nav-link.active:hover~.nav-active-pill {
    transform: scale(1.05);
}